@import "variables";

@mixin colon-body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 109px 86px 1fr 1fr 104px;
  position: relative;
  overflow: hidden;
  background-color: $gray;
}
