@import "variables";
@import "colon-container";
@import "colon";

body {
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.75);
    background-color: $black;
}

.colons-container {
    @include colon-container;
}




